- content_for :title, t('devise.titles.resend_confirmation_email')

= simple_form_for resource, as: resource_name, url: super_admin_confirmation_url do |f|
  = f.input :email, label: false, placeholder: User.human_attribute_name(:email), autofocus: true, required: true
  .form-group
    = f.button :submit, t('common.labels.submit')
    = link_to t('common.labels.cancel'), new_session_url(resource_name), class: 'btn btn-default'
