.site_title i {
  padding: 6px 10px 5px;
}
.nav-sm .navbar.nav_title a i {
  margin: 13px 0 0 8px;
}
.nav-sm .nav.side-menu li a label {
  display: none;
}
.form-control-feedback {
  margin-top: 6px;
}
.page-title .title_left {
  margin-bottom: 10px;
}
.panel_toolbox > li {
  float: right;
}
.table .btn {
  margin-bottom: 0;
}
